html, body {
  background-color: #fff;
  font-family: Helvetica, Arial;
  font-size: 13px;
  margin: 0;
  padding: 0;
}
#header {
  border-bottom: 1px solid #bbb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e0e0e0));
  background-image: -moz-linear-gradient(top, #f5f5f5, #e0e0e0);
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  padding: 14px 14px 10px 14px;
  position: relative;
}
#logo {
  color: #444;
  font-family: Amaranth, 'Gloria Hallelujah';
  font-size: 3em;
  float: left;
  margin-top: -14px;
  margin-right: 1em;
  text-decoration: none;
  text-shadow: #aaa 0px 0px 6px;
}
#logo .js {
  color: #f5f5f5;
}
#tasks {
  width: 500px;
}
#tasks_chzn {
  float: left;
  margin-right: 1em;
}
.button {
  float: left;
  margin-right: 0.8em;
  padding: 0 8px 0 8px !important;
}
.clear {
  clear: both;
}
#description {
  position: absolute;
  top: 75px;
  left: 18px;
  right: 430px;
  height: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#editor {
  bottom: 20px;
  font-family: Mono, Monaco, Consolas, "Lucida Console", "Courier New";
  font-size: 14px;
  left: 10px;
  position: absolute;
  right: 430px;
  top: 110px;
}
#sidebar {
  border-left: 1px solid #ccc;
  bottom: 20px;
  position: absolute;
  right: 20px;
  top: 75px;
  width: 400px;
}
#log, #lint {
  left: 10px;
  position: absolute;
  right: 0;
}
#log {
  bottom: 210px;
  top: 0;
}
#lint {
  bottom: 0;
  height: 200px;
}
.header {
  border-bottom: 1px solid #bbb;
  padding-bottom: 8px;
}
#log .content, #lint .content {
  overflow: auto;
  position: absolute;
  bottom: 0;
  top: 30px;
  right: 0;
  left: 0;
}
#log .info, #lint .info {
  color: #aaa;
  font-style: italic;
}
#log .error, #lint .error {
  color: #d32;
}
#log pre {
  border: 1px solid #ccc;
  margin: 0;
  margin-left: -16px;
  overflow-x: auto;
}
#log .closed, #log .open {
  padding-left: 16px;
  background: transparent no-repeat 3px 3px;
  cursor: pointer;
}

#log .closed pre {
  display: none;
}
#log .closed {
  background-image: url(/images/plus.gif);
}
#log .open {
  background-image: url(/images/minus.gif);
}
#log .line, #lint .line {
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  margin-right: 1em;
}
