html, body {
  background-color: #4c4a41;
  font-family: mono, Monaco, Consolas, "Lucida Console", "Courier New";
  font-size: 14px;
  margin: 0;
  padding: 0;
}
#taskbar {
  background-color: #2a211c;
  border-bottom: 8px solid #4c4a41;
  border-left: 23px solid #4c4a41;
  color: #aaa;
  padding: 10px;
}
#taskbar #description {
  margin-top: 20px;
}
#editor {
  overflow: hidden;
}
#console {
  border-top: 8px solid #4c4a41;
  border-left: 23px solid #4c4a41;
}
#log, #lint {
  height: 180px;
  background-color: #2a211c;
  color: white;
	padding: 10px;
  overflow: auto;
}
#log {
	margin-right: 8px;
}
#lint {
	float: right;
	width: 40%;
}
#log .info, #lint .info {
  color: #aaa;
  font-style: italic;
}
#log .error, #lint .error {
  color: #f32;
}
#log pre {
	margin: 0;
	background: #555753;
	color: white;
	margin-left: -16px;
	overflow-x: auto;
}
#log .closed, #log .open {
	padding-left: 16px;
	background: transparent no-repeat 3px 3px;
	cursor: pointer;
}

#log .closed pre {
	display: none;
}
#log .closed {
	background-image: url(/images/plus.gif);
}
#log .open {
	background-image: url(/images/minus.gif);
}
#log .line, #lint .line {
	text-decoration: underline;
	cursor: pointer;
	display: inline-block;
	margin-right: 1em;
}
