html, body {
  background-color: #4c4a41;
  font-family: mono, Monaco, Consolas, "Lucida Console", "Courier New";
  font-size: 14px;
  margin: 0;
  padding: 0;
}
#taskbar {
  background-color: #2a211c;
  border-bottom: 8px solid #4c4a41;
  border-left: 23px solid #4c4a41;
  color: #aaa;
  padding: 10px;
}
#taskbar #description {
  margin-top: 20px;
}
#editor {
  overflow: hidden;
}
#log {
  background-color: #2a211c;
  border-top: 8px solid #4c4a41;
  border-left: 23px solid #4c4a41;
  color: white;
  height: 200px;
  overflow: auto;
  padding: 10px;
}
#log .info {
  color: #aaa;
  font-style: italic;
}
#log .error {
  color: #f32;
}
#log pre {
	margin: 0;
	background: #555753;
	color: white;
	margin-left: -16px;
}
#log .closed, #log .open {
	padding-left: 16px;
	background: transparent no-repeat 3px 3px;
	cursor: pointer;
}

#log .closed pre {
	display: none;
}
#log .closed {
	background-image: url(/images/plus.gif);
}
#log .open {
	background-image: url(/images/minus.gif);
}
